<main style="height: calc(100vh - 155px);">
<div class="container">
   <div class="card">
      <div class="card-body box-shadow">         
            <div class="row">
               <div class="col-md-9">
               <%= @entry.created_at %>
               </div>
            </div>
         </div>
      </div>
   </div>
</main>

<%= render partial: "entries/tracking/form_feeding" %>
