<header> 
<div class="container">
   <div class="card my-5">
      <div class="card-body box-shadow">
         <div class="row">
            <div class="col-md-8">
               <h1 class="h2 heading-fancy">PooPeePal helps you track your baby's poos, pees, feedings, sleep schedule and more!</h1>
            </div>
            <div class="col-md-12">
               <h2 class="h3 mt-3 mt-md-5">Background</h2>
               <p class="lead">PooPeePal was created by Nick McNeany, a web and software developer located in Downtown Chicago, IL. After my wife and I welcomed our first, awesome child we started recording feedings, diaper changes, sleeping schedule etc., using a pen and notepad. I thought to myself, "Hey, there has be a better way, you should make an app that will make this process a lot easier!", so I did.</p>
               <h2 class="h3 mt-md-3">Overview</h2>
               <p class="lead">PooPeePal is a Ruby on Rails application. It's completely <a href="https://en.wikipedia.org/wiki/Open-source_software" target="_blank" rel="noopener">open sourced</a> and completely free to use. You can view the <a href="https://github.com/Nickiam7/poopeepal" target="_blank" rel="noopener">source code</a> on Github. PooPeePal.com uses SHA-256 with RSA Encryption so your information is safe and secure.</p>
               <p class="lead">PooPeePal was created while simultaneously raising our newborn son, so if you find any bugs please email me at nmcneany@gmail.com and I'll look into it when I have time. Also, feel free to email if you have any feature requests. I'll try to work on them if I have time.</p>
            </div>
         </div>
      </div>
   </div>
</div>
</header>