<header> 
<div class="container">
   <div class="row">
      <div class="col-md-6 col-lg-6">
         <h1 class="h3 text-center mt-5">PooPeePal helps you track your baby's poos, pees, feedings, sleep schedule and more!</h1>
         <%= image_tag("ppp.svg") %>
      </div>
      <div class="col-md-6 col-lg-5 offset-lg-1 align-self-center pt-md-5">
         <div class="card">
            <div class="card-body box-shadow">
               <%= render partial: "devise/registrations/reg_new" %>
               <p class="small">
                  Already have an account? <%= link_to "Log in", new_account_session_path %><br>
                  Forgot your password? <%= link_to "Recover password", new_account_password_path %>
               </p>
            </div>
         </div>
      </div>
   </div>
</div>
</header>