<header> 
<div class="container">
   <div class="card my-5">
      <div class="card-body box-shadow">
         <div class="row">
            <div class="col-md-8">
               <h1 class="h2 heading-fancy">Privacy</h1>
            </div>
            <div class="col-md-12">
               <p class="lead mt-3 mt-md-5">Your privacy is very important to us. Accordingly, we have developed this Policy in order for you to understand how we collect, use, communicate and disclose and make use of personal information. The following outlines our privacy policy.</p>
               <ul>
                  <li>
                     Before or at the time of collecting personal information, we will identify the purposes for which information is being collected.
                  </li>
                  <li>
                     We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law.    
                  </li>
                  <li>
                     We will only retain personal information as long as necessary for the fulfillment of those purposes. 
                  </li>
                  <li>
                     We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. 
                  </li>
                  <li>
                     Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. 
                  </li>
                  <li>
                     We will protect personal information by reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure, copying, use or modification.
                  </li>
                  <li>
                     We will make readily available to customers information about our policies and practices relating to the management of personal information. 
                  </li>
               </ul>
               <p>We are committed to conducting our business in accordance with these principles in order to ensure that the confidentiality of personal information is protected and maintained.</p>
               <h2>European General Data Protection Regulation (GDPR)</h2>
               <p>If you are located in certain countries, including those that fall under the scope of the European General Data Protection Regulation (AKA the “GDPR”), data protection laws give you rights with respect to your personal data, subject to any exemptions provided by the law, including the rights to:</p>
               <ul>
                   <li>Request access to your personal data</li>
                   <li>Request correction or deletion of your personal data</li>
                   <li>Object to our use and processing of your personal data</li>
                   <li>Request that we limit our use and processing of your personal data; and</li>
                   <li>Request portability of your personal data</li>
                </ul>
                <p>You can usually access, correct, or delete your personal data using your account settings and tools that we offer, but if you aren’t able to do that, or you would like to contact us about one of the other rights, you can contact us.</p>
                <h3 class="h4">Legal Bases for Collecting and Using Information</h3>
                <p>Our legal grounds for processing information about you under EU data protection laws, is that our use of your information is based on the grounds that:</p>
                <ol>
                    <li>The use is necessary in order to fulfill our commitments to you under our Terms of Service or other agreements with you or is necessary to administer your account–for example, in order to enable access to our website on your device or charge you for a paid plan; or</li>
                    <li>The use is necessary for compliance with a legal obligation; or</li>
                    <li>The use is necessary in order to protect your vital interests or those of another person; or</li>
                    <li>We have a legitimate interest in using your information–for example, to provide and update our Services, to improve our Services so that we can offer you an even better user experience, to safeguard our Services, to communicate with you, to measure, gauge, and improve the effectiveness of our advertising, and better understand user retention and attrition, to monitor and prevent any problems with our Services, and to personalize your experience; or</li>
                    <li>You have given us your consent–for example before we place certain cookies on your device and access and analyze them later on, as described in our Cookie Policy.</li>
                 </ol>
               <div class="privacy-section">
                  <h2 class="mt-md-5 mb-0">PooPeePal.com</h2>
                  Chicago, IL 60610<br>
                  USA</p>
               </div>
               <div class="privacy-section">
                  <h2>Change log</h2>                  
                  Effective Date: December 30, 2018</p>
               </div>  
            </div>
         </div>
      </div>
   </div>
</div>
</header>