<main>
<div class="container">
   <div class="card slide-up-fade-in">
      <div class="card-body box-shadow">
         <p class="lead mb-2 mb-md-5">Fill out the form below to generate a new dashboard for your baby. Once you click <strong class="text-success">Create Dashboard</strong> you'll be taken to your new dashboard where you can start tracking.</p>
         <%= render partial: "babies/shared/form" %>
      </div>
   </div>         
</div>
</main>