<main>
<div class="container">
   <div class="card">
      <div class="card-body box-shadow p-0">         
            <div class="row">
               <div class="col-md-9">
                  <div class="baby baby__main">
                     <%= @baby.name %>
                     <%= @baby.dob %>
                     <%= @baby.gender %>
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="baby baby__sidebar">
                     <h2>Hi there</h2>
                  </div>
               </div>
            </div>         
      </div>
   </div>
</div>
</main>
