<main>
<div class="container">
   <div class="row">
      <div class="col">
         <div class="card">
            <div class="card-body box-shadow">
               <h1>Hi <%= @account.first_name %>, welcome to PooPeePal!</h1>
               <div class="alert alert-success" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="alert-heading mb-3">Congratulations on your new bundle of joy!</h4>
                  <p>To get started with <strong>PooPeePal</strong> fill out the form below. This will generate a customized dashboard for your baby where you'll be able to start tracking relevant metrics and stay organized with notes and to-do-lists.</p>
                  <hr>
                  <p class="mb-0">Skipt this step. <%= link_to "Go to my Dashboard", root_path, class: "btn btn-sm btn-primary" %></p>
               </div>
               <p class="lead mb-2 mb-md-5">Fill out the form below to add a new dashboard for your baby. Once you hit <strong class="text-success">Create Dashboard</strong> you'll be taken to the newly created dashboard where you can start tracking.</p>
               <%= render partial: "/babies/shared/form"%>
            </div>
         </div>
   </div>
</div>
</main>