@import "variables";
@import "bootstrap";
@import "tempusdominus-bootstrap-4";
@import "babies";
@import "entries";
@import "diapers";
@import "footer";
@import "js-offcanvas";
@import "font-awesome";
@import "navbar";
@import "bootstrap_overides";

.vh-100 {
   height: calc(100vh - 115px);
}
.btn {
   border-radius: 1px;
}
.heading-fancy {
   &:after {
      content:"";
      display:block;
      position:absolute;
      bottom: 0;
      width:5%;
      height:3px;
      background-color: $success;
   }
}
.wrapper {
   background: $gradient;
}
.flash-alert {
   position: absolute;
   padding: {
      top: 20px;
      bottom: 20px;
   }
   top: 0;
   width: 100%;
   margin-bottom: 0;
   z-index: 2;
   opacity: 0.9;
}
.box-shadow {
   box-shadow: $box-shadow;
}
.field_with_errors {
   &:first-child {
      border: none;   
   }
   border: 1px solid $danger;
}
.sidebar {
   position: sticky;
   background: $body-color;
   top: 0;
   height: auto;
   overflow-x: hidden;
   overflow-y: auto;
   @media(min-width: 768px) {
      height: calc(100vh);
   }
   .navbar-brand {
      display: block;   
      background: #ffffff;
      border-right: none;
      box-shadow: $box-shadow;
      margin: {
         right: auto;
         left: auto;
      }
      @media(min-width: 768px) {         
         border-right: 1px solid $gray-200;
         margin-bottom: 3rem;
      }
   }
   .nav-link {
      color: $gray-200;
      border-top: 1px solid rgba(255,255,255,0.2);
      padding-top: 1rem;
      padding-bottom: 1rem;
      text-align: center;
      @media(min-width: 992px) { 
         text-align: left;
      }
      &:last-child {
         border-bottom: 1px solid rgba(255,255,255,0.2);
      }
      &:hover {
         background: #395468;
         color: $gray-300;
      }
   }
   .sidebar__action {
      padding-left: 1rem;
      padding-right: 1rem;
      .btn {
         width: 100%;
      }
   }
}
.datepicker {
   .table thead th {
      vertical-align: bottom;
      border-bottom: none;
   }
   .table th, .table td {   
      vertical-align: top;
      border-top: none;
   }
}
.bootstrap-datetimepicker-widget {
   &.dropdown-menu {
      padding: 10px 15px 15px;
      width: auto;
   }
   &.dropdown-menu.bottom:before {
      top: -10px;
      left: 12px;
   } 
   &.dropdown-menu.bottom:after {
      top: -6px;
      left: 13px;   
   }
   table td,
   table th {
      border-radius: 1px;
   }
   table td {
      &.active {
         background-color: $primary;
      }
      &.new {
         background-color: $gray-100;  
      } 
      &.old {
         background-color: $gray-100;  
      }
   }
}
.animation {
   -webkit-animation-duration: 0.3s;
   animation-duration: 0.3s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

 @-webkit-keyframes slideDownIn {
    0% {       
       -webkit-transform: translateY(-5px);
    }
    100% {
       
       -webkit-transform: translateY(0);
    }
    
    0% {
       -webkit-transform: translateY(-5px);
    }
}
@keyframes slideDownIn {
   0% {
      transform: translateY(-5px);
   }
   100% {
      transform: translateY(0);
   }
   0% {
      transform: translateY(-5px);
   }
}
.slideDownIn {
   -webkit-animation-name: slideDownIn;
   animation-name: slideDownIn;
}