.baby {
   padding-top: 1.25rem;
}
.baby__main {
   .list-group {
      margin-bottom: 1.25rem;
   }
   .list-group__heading {
      background: $gray-100;
      position: -webkit-sticky;
      position: sticky;
      font-size: 22px;
      padding: 0.5rem;
      top: 56px;
      z-index: 1;
      margin-bottom: 0;
      border-top: 1px solid rgba(0, 0, 0, 0.125);
      border-right: 1px solid rgba(0, 0, 0, 0.125);
      border-left: 1px solid rgba(0, 0, 0, 0.125);
   }
   .list-group-item {
      &:hover, &:focus  {
         z-index: 0;
         background: #fdfdfd;
      }
   }
   .metric-date {
      margin-bottom: 15px;
      font-size: 16px;         
      @media(min-width: 768px) { 
         margin-bottom: 0;
      }
   }
   .metric {
      text-align: center;
      padding: {
         left: 1rem;
         right: 1rem;
      }
      &__data {         
         margin-bottom: 0;
         font-size: 12px;
      }
   }
}
.baby__sidebar {
   padding: 1.25rem;
   background: #fdfdfd;
   border-top: 1px solid $gray-200;
   height: 100%;
   @media(min-width: 768px) {
      border-top: none;
      border-left: 1px solid $gray-200;
   }
   dl {
      margin-bottom: 0;
   }
}
.new-baby {
   .form-group {
      margin: {
         top: 3rem;
         bottom: 3rem;
      }
      label {
         font-weight: 700;
      }
   }
   .baby-error {
      border: 1px solid $danger;
   }
   div.field_with_errors { 
      display: inline-block; 
   }
   .datetimepicker-input {
      cursor: pointer;
   }
   .has-icon .form-control {
      padding-left: 2.375rem;
   }
   .has-icon .form-control-icon {
      position: absolute;
      z-index: 2;
      display: block;
      width: 2.375rem;
      height: 2.375rem;
      line-height: 2.375rem;
      text-align: center;
      pointer-events: none;
      color: #aaa;
   }
}
