.tracking-overview {
   border: 1px solid $gray-200;
   margin-bottom: 2rem; 
   &__heading {
      display: flex;
      justify-content: space-between;
      background: #fdfdfd;
      padding: 0.5rem;
      border-bottom: 1px solid $gray-200;
      h2 {
         margin-bottom: 0;
         font-size: 1rem;         
         font-weight: 700;
      }
   }
   &__details {
      margin-bottom: 0;
      font-size: 12px;
      cursor: pointer;
      &:hover {
         text-decoration: underline;
      }
   }
   &__count {
      padding: 1.5rem;
      text-align: center;
      font-size: 3rem;
      h3, p {
         display: inline;  
      }
      h3 {
         font-size: 3rem;
      }
      p {
         font-size: 1.5rem;
      }
   }
}
.tracking-changes {
   display: flex;
   padding: 0;
   &__total {
      width: 75%;
      padding: 24px;
   }
   &__poo-pee {
      display: flex;
      flex-direction: column;
      width: 25%;
      border-left: 1px solid $gray-200;
      font-size: 18px;
      font-weight: 700;
      .pee, .poo {
         display: flex;
         justify-content: center;
         align-items: center;
         flex: 1;
         padding: 0 10px;
      }
      .pee {
         border-bottom: 1px solid $gray-200;
      }
   }
}
.tracking-overview__footer {
   padding: 0.5rem;
   background: $danger;
   color: #ffffff;
}
.feedings .dropdown-menu.dropdown-menu-right {
   top: 35px !important;
   left: -133px !important;
}
.start-done,
.end-done {
   cursor: pointer;
}
/**
 * Diaper Form
 **/
 #diaperModal {
   input[type="checkbox"][id^="check"] {
      display: none;
   }

   label {
      border: 1px solid #fff;
      position: relative;
      cursor: pointer;
      float: left;
   }

   label:before {
      background-color: white;
      color: white;
      content: " ";
      display: block;
      border-radius: 50%;
      border: 1px solid $gray-100;
      position: absolute;
      top: -5px;
      left: -5px;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 23px;
      transition-duration: 0.4s;
      transform: scale(0);
   }

   label img {
      transition-duration: 0.2s;
      transform-origin: 50% 50%;
      margin: auto 1rem;
   }

   :checked + label:before {
      content: "✓";
      background-color: $success;
      transform: scale(1);
   }

   :checked + label img {
      transform: scale(0.9);
      z-index: -1;
   }
}
.entry__dob {
   font-size: 12px;
}
.entry__trash {
   margin-top: auto;
   height: 100%;
}
.entry__image {
   width: 15%;
   margin-right: 5px;
   margin-bottom: 10px;
}