.dropdown-menu {
   box-shadow: $box-shadow;
   border: none;
   @media(min-width: 768px) {
      &:before {
         position: absolute;
         top: -9px;
         left: 139px;
         display: inline-block;
         border-right: 8px solid transparent;
         border-bottom: 8px solid $gray-200;
         border-left: 8px solid transparent;
         border-bottom-color: none;
         content: '';
      }
      &:after {
         position: absolute;
         top: -7px;
         left: 140px;
         display: inline-block;
         border-right: 7px solid transparent;
         border-bottom: 7px solid #ffffff;
         border-left: 7px solid transparent;
         content: '';
      }
   }
}
.navbar--main-nav {
   background: #ffffff;
   border-bottom: 1px solid $gray-100;
   position: sticky;
   top: 0;
   z-index: 1;
   @media(min-width: 768px) {
      background: transparent;
      border-bottom: none;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
   }
   &.navbar--main-nav-scroll {
      background: #ffffff;
      box-shadow: $box-shadow;
      -webkit-transition: all .35s;
      -moz-transition: all .35s;
      transition: all .35s;
   }
}
.navbar-nav .nav-item a.nav-link {
   color: $body-color;
   font-weight: 700;
}
.navbar-light {
   color: $body-color;
   .navbar-brand {
      font-weight: 700;
      color: $body-color;
   }
   .navbar-toggler {
      border: none;
      color: $body-color;   
   }
}
.icon-bar {
   background-color: $body-color;
   display: block;
   width: 22px;
   height: 2px;
   margin: {
      top: 3px;
      bottom: 3px;
   }
   border-radius: 1px;
}
.auth--main-nav {
   margin-bottom: 3rem;
   background: #ffffff;
   border-bottom: 1px solid $gray-200;
   position: sticky;
   top: 0;
   z-index: 1;   
}
/**OffCanvas**/
.c-offcanvas {   
   background: $body-color;
   .navbar {
      padding: 0;
      align-items: start;
      a.navbar-brand {
         color: $body-color;
         font-size: 16px;
      }
      .navbar-brand {
         width: 100%;
         text-align: center;
         padding: 0.5rem 1rem;
         background: #ffffff;
         box-shadow: $box-shadow;
         margin-right: 0;
         margin-bottom: 1rem;
      }
      .navbar-nav {
         width: 100%;
      }
      .offcanvas-nav {
         width: 100%;
         a.nav-link {
            padding: 1rem;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);            
            color: #ffffff;            
         }
         .btn {
            width: 75%;
         }
      }
   } 
}